@font-face{
	font-family: 'hacked';
	src: url('../assets/HACKED.ttf') format('truetype');
}

@font-face{
	font-family: 'pixel';
	src: url('../assets/PixelOperator-Bold.ttf') format('truetype');
}

/*@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
*/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	font-family: 'pixel';
	line-height: 1.5;
	background-image: url(../images/background.png);
	background-size: cover;
	color: #ffffff;
	height: 100%;
	overflow-x: hidden;
}

html{
	font-size: 62.5%; /* 10px */
	padding: 0;
	margin: 0;
}

/* Header */

.container1{
	width: 95%;
	margin: -1rem auto;
}

header{
	background-color: #000000;
	color: #ffffff;
	padding-top: 1rem;
	min-height: 40px;
}

header a{
	color: #ffffff;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 1rem 2rem 0 2rem;
	margin-top: 1rem;
}

header #codegolf{
	float: left;
	font-family: 'hacked';
	margin-top: 0rem;
}

header #codegolf h1{
	margin: 0;
	padding: 0;
	font-size: 30px;
}

header nav{
	float: right;
	margin-top: -1rem;
}

/* section global */

section{
	margin: 0px;
	padding: 0px;
}

section .container{
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* p1 */

.head-codegolf{
	font-size: 17rem;
	font-family: 'hacked';
	padding-bottom: 1.7rem;	
	padding-top: 1.5rem;
	margin-bottom: -4rem; 
	margin-top: -7rem; 
	width: 25rem;
	margin-left: 50%;
	transform: translateX(-50%); 	
}

.cg-span{
	display: inline-block;
	-moz-transform: scale(1, -1);
	-webkit-transform: scale(1, -1);
	-o-transform: scale(1, -1);
	-ms-transform: scale(1, -1);
	transform: scale(1, -1);

	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

	/* container-classes */

.container{
	width: 100%;
	color: white;
	overflow: hidden;
}

	/* images */

.container3{
	width: 100%;
	color: white;
	position: relative;
}

.outer-blue{
	position: relative;
}

.bluepart{
	height: 35rem;
	width: 100%;
	margin-top: 7rem;
}

.redpart{
	height: 50rem;
}

.skull{
	height: auto;
	width: 40rem;
	margin: -6rem auto;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.rotate{
	animation: rotation 2s infinite linear;
}

p{
	font-size: 10px;
	margin: 0;
	text-align: center;
}


.top-text{
	width: 80%
	margin: auto;
}

#Head{
	font-size: 16rem;
	font-family: 'hacked';
	position: absolute;
	top: 29%;
	left: 50%;
	transform: translateX(-50%);
}

#CS{
	font-size: 8rem;
	font-family: 'hacked';
	position: absolute;
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	color: rgb(13,203,255);
}



/* iframe */

.youtube{
	/*margin: 0rem auto 0rem auto;*/
	margin-top: 0rem;
	align-items: center;
	/*width: 100%;*/
}


.text1{
	font-size: 4rem;
	margin: 0 auto 3rem auto;
	width: 35%;
	/*margin: auto;*/
}

.text2{
	font-size: 2.2rem;
	width: 37%;
	margin: auto;
}

.text{
	margin-bottom: 6rem;
	z-index: 1;
}

/* p4 */

.p4{
	margin-top: 10rem;
}

.container2{
	position: relative;
	margin: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
	height: 50rem;
	/*padding: -10rem 0;*/
}

.illustration{
	width: 40%;
	height: auto;
	position: absolute;
	bottom: -5rem;
	left: 0;
	padding: 0;
	margin: 0;
	z-index: -1;
	/*position: absolute;
	left: 0;
	bottom: 500px;*/
}

/* Footer */

.footer{
	position: relative;
	bottom: 0rem;
	background: #000000;
	padding: 0;
	margin: 0;
	padding-top: 2rem;
}

.footer-content{
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 200px;
	align-items: center;
}

.contact{
	/*position: absolute;*/
	/*top: 60%;*/
	/*transform: translateY(-50%);*/
	margin-top: 2.5%;
}

.links{
	/*position: absolute;
	left: 50%;
	transform: translateX(-50%);
	margin-top: 10rem;*/
	align-items: center;
	margin-left: 8rem;
}

.fab{
	color: red;
	padding: 0 5rem 0 5rem;
}

.branding{
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	height: 10rem;
	/*margin-right: 4rem;*/
	align-items: flex-end;
}

.gravitas{
	width: 20rem;
	height: auto;
	margin-bottom: 0rem;
	/*position: absolute;*/
	/*right: 0;*/
	/*top: -5rem;*/
}

.CSI{
	width: 21rem;
	height: auto;
	/*position: absolute;*/
	/*right: 0;*/
	/*top: 0rem;*/
	/*bottom: 0;*/
}

.footer-bottom{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

.end{
	height: 1.25rem;
	width: auto;
	padding-bottom: 0px;
	margin: 0 auto;
}

iframe{
	 width:100%; 
	 height:75rem;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
	html{
	font-size: 46.875%; /* 7.5px */
	padding: 0;
	margin: 0;
	}
	iframe{
		width: 100%;
		height: 50rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	html{
	font-size: 31.25%; /* 5px */
	padding: 0;
	margin: 0;
	}
	
	.footer-content{
	margin-left: 1rem;
	margin-right: 1rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 250px;
	align-items: center;
	}
	iframe{
		width: 100%;
		height: 50rem;
	}
}


.hidden-nav{
	display: none;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 550px) {

	#CS{
		font-size: 5rem;
	}

	.text1{
		width: 40%;
		font-size: 15px;

		} 
	.text2 {
		width: 45%;
		font-size: 5px;
	}

	.footer-content{
		margin-left: 1rem;
		margin-right: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 300px;
		align-items: center;
	}
	.contact{
		/*position: absolute;
		top: 60%;*/
		align-items: center;
		text-align: center;
		/*transform: translateY(-50%);*/
		order: 2;
	}

	.branding{
		display: flex;
		flex-direction: column; 
		justify-content: space-between;
		height: 10rem;
		/*margin-right: 4rem;*/
		align-items: center;
		margin-top: 7px;
		order: 1;
	}

	.links{
		order: 3;
		margin-bottom: 7%;
		align-content: center;
		margin-right: 6%;
	}

	iframe{
		 width:100%; 
		 height:50rem;
	}
		
}


